{% from "_render_field.html" import render_field %}
{% extends 'main.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h2>Manage <b>Category </b>
                    <button type="button" class="btn btn-success float-right" data-bs-toggle="modal"
                            data-bs-target="#mymodal">
                        Add new category
                    </button>
                </h2>
                <table class="table table-hover table-gray">
                    <tr>
                        <th>ID</th>
                        <th>Familiarity level</th>
                        <th>Action</th>
                    </tr>

                    {% for category in categories %}
                    <tr>
                        <td>{{category.id}}</td>
                        <td>{{category.familiarity_level}}</td>
                        <td>
                            <a href="{{ url_for('familiar.update_category', id=category.id) }}"
                               class="btn btn-warning btn-xs" data-bs-toggle="modal"
                               data-bs-target="#modaledit{{category.id}}">Edit</a>
                            <a href="{{ url_for('familiar.delete_category', id=category.id) }}"
                               class="btn btn-danger btn-xs"
                               onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                        </td>
                    </tr>
                    <div id="modaledit{{category.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Update Information</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{url_for('familiar.update_category', id=category.id)}}" method="POST">
                                        {{ familiar_form.csrf_token }}
                                        <div class="form-group">
                                            {{ render_field(familiar_form.name, class="form-control", value=category.familiarity_level) }}
                                        </div>
                                        <div class="form-group">
                                            {{ render_field(familiar_form.submit, class="btn btn-primary", value="Edit") }}
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </table>
            </div>

            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Category</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('familiar.category_crud')}}" method="POST">
                                {{ familiar_form.csrf_token }}
                                <div class="form-group">
                                    {{ render_field(familiar_form.name, class="form-control") }}
                                </div>
                                <div class="form-group">
                                    {{ render_field(familiar_form.submit, class="btn btn-primary", value="Add") }}
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


{% endblock %}