{% from "_render_field.html" import render_field %}
{% extends 'main.html' %}
{% block content %}
<div class="centered">
    <div class="item-post">
        <p>Last name: {{ familiar.last_name }}</p>
        <p>First name: {{ familiar.last_name }}</p>
        <p>Phone number: {{ familiar.phone_number }}</p>
        <p>Gender: {{ familiar.gender.value }}</p>
        <p>Birth date: {{ familiar.birth_date }}</p>
        <p>Hobby: {{ familiar.hobby }}</p>
    </div>
    <div class="buttons">
        {% if current_user.id == familiar.user_id %}
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Delete
        </button>
        <a href="{{ url_for('familiar.edit_familiar', id=familiar.id) }}">
            <button class="btn btn-primary">Edit</button>
        </a>
        {% endif %}
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete institution</h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Ви бажаєте видалити заклад?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="{{ url_for('familiar.edit_familiar', id=familiar.id) }}" method="POST"> <!-- delete !-->
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}